.container{

}

.container .heroes{
    display:flex;
    flex-wrap:wrap;
    background-color: orange;
    justify-content: center;
    max-width: 700px;   
    /* 최대너비, viewport가로넓이에 따라 줄어들기도 가능
    width 사용시 고정너비라 viewport에 따라 가로가 잘림 */
    margin: 0 auto;
    /* blcok요소에 좌우사이즈가 존재하는 상태에서 margin:auto 시 요소가 가운데정렬 */
    padding: 40px 20px;

}

.container .heroes .hero{
    width: 80px;
    height: 84px;
    background-color: #555;
    margin: 4px;
    border: 3px solid #ffffff;
    border-radius: 10px;
    box-sizing: border-box;
    transform: skewX(-14deg);
    transition:all 0.2s ease-out;

}

.container .heroes .hero:hover{
    background-color: #ff9c00;
    transform: scale(1.4) skewX(-14deg);
    z-index: 1;
    margin: 0 30px;
    
}

.container .heroes .hero .image{

}